%h1 Login

= form_tag sessions_path do 
  = label_tag :email
  = text_field_tag :email, params[:email]
  %br
  = label_tag :password
  = password_field_tag :password
  %br
  %br
  = submit_tag "Login", :class => "button btn btn-primary"

  = if current_user
    = link_to "Log Out", logout_path
  / = else 
  /   = link_to "Log In", login_path


- flash.each do |name, msg|
  = content_tag :div, msg, :id => "flash_#{name}"