- @users.each do |u|
  .col-sm-4.col-xs-6
    .panel.panel-default
      .panel-thumbnail
      .panel-body
        %p.lead 
        = "Name:"
        = u.name
        %p 
        = "Email:"
        = u.email
        %p
        = "Username:"
        = u.username
        %p


        = link_to 'Show', user_path(u)
        = link_to 'Edit', edit_user_path(u)
        = link_to 'Delete', user_path(u), :method => :delete, :data => { :confirm => 'Are you sure?' }
%br


