%h1 All Users

- @users.each do |u|
  .col-sm-4.col-xs-6
    .panel.panel-default
      .panel-thumbnail
        %img.img-responsive{:src => "//placehold.it/450X300/DD66DD/FFF"}/
      .panel-body
        %p.lead 
        = u.name
        %p 
        = u.email
        %p
        = u.username
        %p
        = link_to 'Show', user_path(u)
        = link_to 'Edit', edit_user_path(u)
        = link_to 'Delete', user_path(u), :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= button_to 'Add New User', new_user_path, method: "get"
%br
%br
= button_to 'See All Users', users_path, method: "get"