- @coupons.each do |d|
  .col-sm-4.col-xs-6
    .panel.panel-default
      .panel-thumbnail

        = image_tag d.coupon_pic.url ,:style => "max-width: 100%"

      .panel-body
        %p.lead 
        Title:
        = d.title
        %p
        Description:
        = d.description
        %p
          %a{:href=>"/coupons/#{d.id}/edit"} EDIT
          = "|"
          %a{:href=>"/coupons"} DELETE
          = "|"
          = link_to "Download Photo", download_coupon_pic_coupon_path(d)
          
            
              
              
          
      





