- @coupons.each do |d|
  .col-sm-4.col-xs-6
    .panel.panel-default
      .panel-thumbnail

        = image_tag d.coupon_pic.url ,:style => "max-width: 100%"

      .panel-body
        %p.lead 
        = d.title
        %p 
        = d.description
        %p
        = d.sale_offer
        %p
        = link_to 'Edit', edit_coupon_path(d), method: "get" 
        = "| "
        = link_to 'Delete', coupon_path(d), :action => "delete", :method => :delete





