%h4
	= form_for @new_coupon, url: coupons_path do |f|
		%p
			= f.label :title
			= f.text_field :title
		%p
			= f.label :description
			= f.text_field :description
		%p
			= f.label :sale_offer
			= f.text_field :sale_offer
		%p
			= f.label :company_name
			= f.text_field :company_name
		%p
			= f.file_field :coupon_pic
			- f.hidden_field :coupon_pic
		%p
			= f.submit :class => "button btn btn-primary"